<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Search</title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body>
    <div class="container">
        <h1>Recipe Search</h1>
        <form action="/search" method="POST">
            <input type="text" name="query" placeholder="Fish, Chicken, burger, etc." />
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>